body {
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
  }
.logo{
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.font-color{
  color: white;
  font-size: 150%;
}

.login-nav{
  margin-left: -150px;
}
.login-form{
  border-radius: 25px;
}

.div-margins{
  margin:25px;
}

.header-text{
  font-size: 50px;
  font-weight: bold;
}
.form-control{
  width: 500px;
}
.job-card{
  border: 1px solid black; 
  height: 400px;
}
.job-img{
  height: 150px;
  border: 1px solid black;
}
.job-name{
  font-size: 20px;
  margin-top: 10px;
}

