<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #800;">
    <a class="navbar-brand logo font-color" href="#">Job Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse container text-center set" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link font-color" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-color" href="#">Find A Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-color" href="#">Company Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-color" href="#">Career Guides</a>
        </li>
        <form class="form-inline login-button">
      <button class="btn btn-outline-success font-color" type="button">Log in</button>
      <button class="btn btn-outline-success font-color" type="button">Sign Up</button>
    </form>
    </div>
    </nav>