body {
    background: rgba(255, 255, 255, 0.5);
    font-family: montserrat;
  }
.logo{
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.set{
  float: none;
  position: absolute;
  left: 27%;
}
.login-button{
  padding-left: 180px;
}
.font-color{
  color: white;
  font-size: 150%;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px; 
}