<!DOCTYPE html>
<html lang="en">
<head>
  <title>Horizontal Cards Example</title>
  <meta charset="UTF-4">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #800;">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="index.html">
        <img src="assets/jobportal_logo1.png" height="100px" width="275px"  class="d-inline-block align-text-top">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mx-auto">
          
          <li class="nav-item">
            <a class="nav-link fs-3 fw-bold" href="index.html">Home</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link  fs-3 fw-bold " href="company-profiles.html">Company Profiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-3 fw-bold " href="find-job.html">Find A Job</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row-reverse">
          <div class="dropdown">
            <a class="btn stud-btn2 dropdown-toggle text-center" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../no-profile.png" alt="" class="rounded-circle" height="40px">
            </a>
          
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Account Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
      <div class="col-10 center">
        <div class="card card-body">
          <div class="container-fluid">
            <h1 class="text-center">Company List</h1>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="row card-body">
                    <div class="col-6">
                      <h5 class="card-title">Company 1</h5>
                      <p class="card-text">Company email</p>
                      <p class="card-text">Telephone/Mobile</p>
                      <p class="card-text">Contact person</p>
                      <a href="#" class="btn btn-primary">See more</a>
                    </div>
                    <div class="col-6">
                      <img class="col-6" src="student7.png" alt="sans"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="row card-body">
                    <div class="col-6">
                      <h5 class="card-title">Company 1</h5>
                      <p class="card-text">Company email</p>
                      <p class="card-text">Telephone/Mobile</p>
                      <p class="card-text">Contact person</p>
                      <a href="#" class="btn btn-primary">See more</a>
                    </div>
                    <div class="col-6">
                      <img class="col-6" src="student7.png" alt="sans"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="row card-body">
                    <div class="col-6">
                      <h5 class="card-title">Company 1</h5>
                      <p class="card-text">Company email</p>
                      <p class="card-text">Telephone/Mobile</p>
                      <p class="card-text">Contact person</p>
                      <a href="#" class="btn btn-primary">See more</a>
                    </div>
                    <div class="col-6">
                      <img class="col-6" src="student7.png" alt="sans"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  </div>     
</body>
</html>
